<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
            
            </files>
        </defaultDocument>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="pmsf">
                    <add key="/raw_data" value="/raw_data.php" />
                    <add key="/motd_data" value="/motd_data.php" />
                    <add key="/submit" value="/submit.php" />
                    <add key="/search" value="/search.php" />
                    <add key="/weather_data" value="/weather_data.php" />
                    <add key="/serviceWorker.min.js" value="/static/dist/js/serviceWorker.min.js" />
                    <add key="/logout" value="/logout.php" />
                    <add key="/login" value="/login.php" />
                    <add key="/register" value="/register.php" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule1 for pmsf">
                    <match url=".*" />
                    <conditions>
                        <add input="{pmsf:{PATH_INFO}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
  
           <staticContent>
             <mimeMap fileExtension="." mimeType="text/xml" />
         </staticContent>
    </system.webServer>
</configuration>
